$bg: #465D5D;
$gray: #93a8a9;
$gold: #edbd3e;
$yellow: #ffed00;

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: $bg;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

.container {
	background: $bg;
	margin: 0;
	padding: 0;
}

ul.links {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	& > li {
		display: inline-block;
		margin-left: -4px;
		margin-bottom: 0;
	}

}

.gray {
	background: $gray;
}

.gold {
	background: $gold;
}

.flex-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}