body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #2A3737;
}

p {
  line-height: 1.5;
}

.container {
  background: #465D5D;
  margin: 0;
  padding: 0;
}

ul.links {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
ul.links > li {
  display: inline-block;
  margin-left: -4px;
  margin-bottom: 0;
}

.gray {
  background: #93a8a9;
}

.gold {
  background: #edbd3e;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer.footer {
  color: white;
  text-align: center;
}
footer.footer a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
footer.footer a:hover, footer.footer a:focus {
  text-decoration: underline;
}
footer.footer li:not(:last-child):after {
  content: " | ";
}

header.header {
  margin-top: 0;
  padding-top: 0;
  text-transform: uppercase;
  color: white;
}
header.header h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 60px;
}
header.header h2 {
  font-family: "Sue Ellen Francisco", cursive;
  text-align: center;
  color: #ffed00;
  font-size: 5rem;
  margin-bottom: 10px;
  margin-top: 0;
}
header.header p {
  font-size: 2em;
  text-align: center;
  margin-top: 0;
}
header.header p.phone {
  font-size: 4rem;
  margin-bottom: 10px;
}

nav.nav {
  background: white;
  text-align: right;
  padding: 0;
  margin: 0;
  height: 58px;
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
}
nav.nav > ul {
  margin-top: 0;
}
nav.nav > ul li {
  padding-top: 20px;
  height: 60px;
}
nav.nav ul#dropdown {
  list-style: none;
  position: absolute;
  padding-left: 0;
  margin-top: 20px;
}
nav.nav ul#dropdown li {
  display: flex;
  width: 120px;
  align-items: center;
  text-align: center;
  white-space: wrap;
}
nav.nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
  margin: 0;
  background: white;
  height: 60px;
}
@media only screen and (max-width: 422px) {
  nav.nav a {
    padding: 5px;
  }
}
nav.nav a:hover, nav.nav a:focus {
  transition: color 0.5s, background-color 0.5s;
  text-decoration: underline;
  background: black;
  color: white;
}

section.sections {
  width: 40%;
  height: 200px;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  margin-bottom: 15px;
}
section.sections h2 {
  text-transform: uppercase;
  font-size: 1em;
}
section.sections a {
  display: block;
  text-decoration: none;
  background: white;
  margin: 1em auto;
  width: 30%;
  color: black;
  padding: 10px;
}
section.sections a:hover, section.sections a:focus {
  background: black;
  color: white;
  transition: color 0.3s, background-color 0.3s;
}
@media only screen and (max-width: 468px) {
  section.sections a {
    width: 50%;
  }
}

.gap .flex-center {
  gap: 10px;
}
.gap .flex-center .sections {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 1040px) {
  .gap .flex-center {
    gap: 0;
    flex-direction: column;
  }
  .gap .flex-center .sections.gold {
    background: #93a8a9;
  }
  .gap .flex-center .sections {
    width: 70%;
  }
  .gap .flex-center .sections:nth-child(even) {
    background: #edbd3e;
  }
}

/*# sourceMappingURL=styles.css.map */
