@import './general.scss';
@import './components/footer.scss';
@import './components/header.scss';
@import './components/main.scss';
@import './components/nav.scss';

.container {
	background: $bg;
	margin: 0;
	padding: 0;
}