footer.footer {
	color: white;
	text-align: center;
	height: 150px;
	margin-top: auto;
	background: #2A3737;
	width: 100%;

	a {
		color: white;
		text-decoration: none;
		margin-left: 10px;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	li:not(:last-child):after {
		content: ' | ';
	}
}