header.header {
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
	color: white;

	h1 {
		text-align: center;
		font-size: 3rem;
		margin-top: 20px;
		margin-bottom: 60px;
	}

	h2 {
		font-family: 'Sue Ellen Francisco', cursive;
		text-align: center;
		color: $yellow;
		font-size: 5rem;
		margin-bottom: 10px;
		margin-top: 0;
		@media only screen and (max-width: 590px) {
			font-size: 3rem;
			margin-bottom: 20px;
		}
	}

	p {
		font-size: 2em;
		text-align: center;
		margin-top: 0;

		&.phone {
			font-size: 4rem;
			margin-bottom: 10px;
			@media only screen and (max-width: 590px) {
				font-size: 2em;
				margin-bottom: 20px;
			}
		}
	}
}